.banner {
    width: 40%;
    margin: 0 auto;
  
}

.recipe-img {
    width: 100%;

    padding: 20px;
    border-radius: 20px;
    height: 50%;

}

.main-card {
    width: 60%;

    margin-top: 5%;
    margin-left: 20%;
    gap: 30px;
    padding: 100px;

}

.recipe-card {
height: 900px;
    border: 3px solid rgb(180, 109, 205);
background-color: rgba(47, 16, 77, 0.322); 
color: #ffffff;
height: 600px;
}
.full ,.banner-card{
background-image: url('https://static.vecteezy.com/system/resources/previews/003/823/542/original/spices-for-use-as-cooking-ingredients-on-a-wooden-background-with-fresh-vegetables-healthy-food-herbs-organic-vegetables-on-the-table-raw-materials-of-cooking-preparation-tom-yum-free-photo.jpg');
color: #ffffff;
}
.like{
    font-size: 20px;
    
    
}
.name{
    margin-left: 45%;
    border-radius: 20px;
    color: #000000;
    background-color: #c2dbf9;
    width: 200px;
    text-align: center;
}
.IC{
    height: 30px;
    width: 100px;
    margin-right: 40px;
}
.login-btn{
    margin-bottom: 129px;
    padding: 10px;
    margin-left: 20px;
    background: #56CCF2;

    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);

    background: linear-gradient(to right, #6598d9, #56CCF2);
  border-radius: 5px;
  border: none;
}
.login-btn-container{
    text-align: center;
    margin-top: 20px;
  
}
.login-container{
    padding: 20px;
    border-radius:15px ;
    margin-top: 29px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.955);
}
.love-btn{
margin-left: 75%;
border: none;
border-radius: 1000%;
}